.container {
  padding: 24px 0;
}

.gallery {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 24px;
  width: 1128px;
}

.gallery-item {
  list-style: none;
  width: calc((100% - 48px) / 3);
  cursor: pointer;
}

.gallery-link {
}

.gallery-image {
  width: 360px; 
  height: 200px;
}

.big-gallery-image {
  width: 1112px;
  height: 640px;
}

.backdrop {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0;
  background-color: rgba(46, 47, 66, 0.80);
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
}


